<p id="notice"><%= notice %></p>

<h1>Listing Passenger Flights</h1>

<table>
  <thead>
    <tr>
      <th>Passenger</th>
      <th>Flight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passenger_flights.each do |passenger_flight| %>
      <tr>
        <td><%= passenger_flight.passenger.name %></td>
        <td><%= passenger_flight.flight.origin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
