<div class="row">
	<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
		<h1>Editar Pasajero</h1>

		<%= render 'form' %>

		<div class="text-xs-right">
			<%= link_to 'Detalle', passenger_show_path(@passenger.id) %> |
			<%= link_to 'Volver', passenger_flights_show_path(@passenger.flight_id) %>
		</div>
	</div>
</div>
