<div class="row">
  <div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
<h1>Editar Pasajero</h1>

<%= render 'form' %>

<%= link_to 'Ver', @passenger %> |
<%= link_to 'Volver', passengers_path %>


  </div>
</div>
