<div class="row">
	<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
		<h1>Ingresar Nuevo Pasajero</h1>

		<%= render 'form' %>

		<div class="text-xs-right">
			<%= link_to 'Volver', passenger_flights_show_path(@passenger.flight_id) %>
		</div>
	</div>
</div>