<div class="row">
	<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2">
		<h1  class="form-header">Editar Avión</h1>

		<%= render 'form' %>
		<div class="text-xs-right">
			<%= link_to 'Detalle', @airplane %> |
			<%= link_to 'Volver', airplanes_path %>
		</div>
	</div>
</div>
